/* General styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

nav img {
  height: 50px;
  margin-right: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

nav li a:hover {
  background-color: #555;
}

/* Main content */
main {
  margin: 20px;
  max-width: 1500px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
}

main ul {
  list-style: none;
  padding: 0;
}

main ul li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  vertical-align: middle;
}

footer {
  max-width: 990px;
  margin: 0 auto;
  padding: 25px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  margin-left: 17%;
}

form {
  max-width: 900px;
  margin: 0 auto;
}

label {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  word-break: break-word;
  width: 80%;
}

input[type="checkbox"] {
  display: inline-block;
  margin-right: 15px;
  transform: scale(1.5);
  margin-bottom: 12px;
}

textarea {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  min-height: 300px;
  width: 100%;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 30px;
}

button[type="submit"]:hover {
  background-color: #555;
}

button[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button[type="submit"]:not(:disabled) {
  opacity: 1;
  cursor: pointer;
}

/* Results */
ul.resultChunk {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #bebdbd;
}

ul.resultChunk li,
ul.resultChunk li:last-child {
  display: inline-block;
  box-sizing: border-box;
  width: 70%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

ul.resultChunk li:last-child {
  width: 30%;
  border-bottom: none;
  text-align: right;
}

ul.resultChunk li span {
  font-size: 16px;
}

ul.resultChunk li h3 {
  font-size: 20px;
  margin: 0;
}

ul.resultChunk li p {
  font-size: 16px;
  margin: 0;
  color: #999;
}

ul.resultChunk li a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

ul.resultChunk li a:hover {
  color: #555;
}

ul.resultHeader {
  background-color: #f5f5f5;
}
